*.egg-info

jobs.txt
*.png
*.jpg
*.log
*.npz

**/__pycache__
**/scratch.py
**/data/*
log/*
wandb/
results/
sweep/
notebooks/
saved_models/

# Slurm files
slurm*
*/slurm*
sed*

# Local scripts
copy_jl.sh
*license.pdf
scripts/test.sh
scripts/regression_dp.sh
